body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


.intro {
    width: 30%;
    text-align: right;
    padding: 120px;
}

.main-container {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
}

.intro-title {
    font-size: 65px;
}

.btn-primary {
    background-color: #F15B22;
    color: white;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

.intro-description {
    font-size: 16px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    padding: 100px 100px;
}


.container-write {
    width: 50%;
    padding: 160px 150px;
}

.container-title {
    font-size: 40px;
    font-weight: bold;
}

.container-description {
    font-size: 16px;
}

.list {
    list-style-type: square;
}

.Container-Plan {
    display: flex;
    justify-content: center;
}

.languages {
    padding: 50px;
    display: block;
    justify-content: center;
    text-align: center;
}

.My-Plan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.My-Plan {
    font-size: 40px;
    font-weight: bold;
}

.ads {
    margin: 50px 100px;
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
}

.ads>h2 {
    font-size: 40px;
    font-weight: bold;
}

.container-ads {
    padding: 50px 100px;
    color: white;
    margin-right: 800px;
}

.btn {
    padding: 10px 30px;
    color: #F15B22;
    border: 0;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}

.footer-container {
    background-color: black;
    color: aliceblue;
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    gap: 50%;
}

.footer-section {
    size: 50%;
}

.footer-section>input[type='email'] {
    margin: 20px 0px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.social-icon>a {
    padding: 0px 10px;
}