body {
    font-family: 'Work Sans', sans-serif;
}


.intro {
    width: 30%;
    text-align: right;
    padding: 120px;
}

.main-container {
    background-image: url(../images/banner/banner1.png);
    display: flex;
    justify-content: right;
}

.intro-title {
    font-size: 65px;
}